<% if logged_in? %>
  <div class="row">
    <aside class="col-xs-12">
      <section class="post_form">
        <%= render 'shared/post_form' %>
      </section>
    </aside>

  </div>
<% else %>
  <%= render 'menus/signup' %>
<% end %>