    <div class="row">
      <div class="col-xs-6" style="background-color:#EA6052;"><%= link_to "低カロリー", lowcalorie_path %></div>
      <div class="col-xs-6" style="background-color:#7FB7FF;"><%= link_to "低糖質", lowcarb_path %></div>
    </div>
    <div class="row">
      <div class="col-xs-6" style="background-color:#FECC27;"><%= link_to "グルテンフリー", glutenfree_path %></div>
      <div class="col-xs-6" style="background-color:#17A980;"><%= link_to "ベジタリアン", vege_path %></div>
    </div><br>