<div class="row">
  <aside class="col-md-4">
    <section class="menu_info">
      <h1>
        <%= image_tag @menu.image %>
        <%= @menu.name %>
        <%= @menu.calorie %>[kcal]
      </h1>
    </section>
  </aside>
</div>