<div class="action">
  <div id="like_form">
    <% if current_user.like?(menu) %>
      <%= render 'users/unlike' , menu: menu %>
    <% else %>
      <%= render 'users/like' , menu: menu %>
    <% end %>
    
    <% unless current_page?(menu) %>
      <%= link_to "詳細" , menu , class: "btn btn-info btn-sm" %>
    <% end %>
  </div>  
</div>
