* {
  margin: 0;
  padding: 0;
}

/*--logo----------------------------------------------------------*/
#logo {
  padding: 20px 20px;
  text-align: center;
}

#logo img {
  max-width: 120px;
  border: 3px solid #fff;
  border-radius: 100%;
}

td img {
  max-width: 100px;
  border: 0px solid #000;
  border-radius: 100%;
}

#logo h1 {
  letter-spacing: 0.15em;
  color: #EB6153;
  font-weight:bold;
  padding: 0px 0px;
}

/*--nav----------------------------------------------------------*/
nav {
  position: fixed;
  width: 100%;
  margin: 0px 0 30px 0;
  padding: 5px 0;
  text-align: center;
  font-size: 14px;
  font-weight:bold;
  background-color: #000;
  z-index: 1;
}

nav ul {
  margin: 0 10px;
  padding: 0;
}

nav ul li {
  margin: 0 0px;
  display: inline-block;
}

nav ul li a {
  padding: 0px 10px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

nav ul li a.selected {
  color: #000;
}

nav img {
  max-width: 30px;
  border: 1px solid #000;
  border-radius: 100%;
}

nav .gravatar {
  margin-right: 2px;
}

nav .img {
  border-radius: 100%;
}
    
nav .dropdown li .divider {
  margin: 0;
}

nav .dropdown a {
  padding: 10px 15px;
}

/*--contents----------------------------------------------------------*/

.col-sm-3 {
  padding: 10px 0px;
  text-align: center;
}

.col-sm-3 a {
  padding: 0px 0px;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

.col-sm-4 img {
  max-width: 150px;
  text-align: center;
  border: 0px solid #fff;
  border-radius: 100%;
}


.col-md-12 img p {
  text-align: center;
}
