<body>
<BR><BR><br>

<div class="container">
  <table class="table">
    <tbody>
     <tr>
        <td width="30%">
          <a href="comment.html"><img src="img/se32.jpg" width="90%" alt="se32"/></a>
        </td>
        <td width="50%">
          <p>
            メニュー<br>
            カロリー<br>
            値段
          </p>
        </td>
        <td width="20%">
          お気に入りのボタン
        </td>
     </tr>
     <tr class="warning">
        <td class="user" width="30%">
          <a href="mypage.html"><img src="ms.jpg" width="70%" alt="user"/></a>
          </a>
        </td>
        <td width="50%">
          クチコミが入ります。クチコミが入ります。クチコミが入ります。クチコミが入ります。クチコミが入ります。
        </td>
        <td width="20%">
          <button class="btn btn-primary">edit</button>
          <button class="btn btn-danger">delete</button>
        </td>
     </tr>
     <tr>
        <td width="30%">
          <a href="comment.html"><img src="img/se33.jpg" width="90%" alt="se33"/></a>
        </td>
        <td width="50%">
          <p>
            メニュー<br>
            カロリー<br>
            値段
          </p>
        </td>
        <td width="20%">
          お気に入りのボタン
        </td>
     </tr>
     <tr class="warning">
        <td width="30%">
          <a href="mypage.html"><img src="img/amazon.jpg" width="70%" alt="user"/></a>
          </a>
        </td>
        <td width="50%">
          クチコミが入ります。クチコミが入ります。クチコミが入ります。クチコミが入ります。クチコミが入ります。
        </td>
        <td width="20%">
          <button class="btn btn-primary">edit</button>
          <button class="btn btn-danger">delete</button>
        </td>
     </tr>
     <tr>
        <td width="30%">
          <a href="comment.html"><img src="img/se34.jpg" width="90%" alt="se34"/></a>
        </td>
        <td width="50%">
          <p>
            メニュー<br>
            カロリー<br>
            値段
          </p>
        </td>
        <td width="20%">
          お気に入りのボタン
        </td>
     </tr>
     <tr class="warning">
        <td width="30%">
          <a href="mypage.html"><img src="img/twitter.png" width="70%" alt="user"/></a>
          </a>
        </td>
        <td width="50%">
          クチコミが入ります。クチコミが入ります。クチコミが入ります。クチコミが入ります。クチコミが入ります。
        </td>
        <td width="20%">
          <button class="btn btn-primary">edit</button>
          <button class="btn btn-danger">delete</button>
        </td>
     </tr>

    </tbody>
  </table>
</div>

</body>

</html>
