<body>
<BR><BR>

<div id="logo">
  <img src="ms.jpg" alt="" />
  <h1>Masa</h1>
  <input type="button" onclick="location.href='edit.html'" value="Setting" />
   <!--
  【 <%= link_to "edit" , edit_message_path(message) %>｜
   <%= link_to "destroy" , message , method: :delete, data: { confirm: '削除してもよろしいですか？' } %>
   】
   -->
</div>

<div class="container">
  <table class="table">
    <tbody>
     <tr>
        <td width="30%">
          <a href="comment.html"><img src="img/se32.jpg" width="90%" alt="se32"/></a>
        </td>
        <td width="50%">
          <p>
            メニュー<br>
            カロリー<br>
            値段
          </p>
        </td>
        <td width="20%">
          お気に入りのボタン
        </td>
     </tr>
     <tr class="warning">
        <td width="30%">
          <a href="mypage.html"><img src="ms.jpg" width="70%" alt="user"/></a>
          </a>
        </td>
        <td width="50%">
          クチコミが入ります。クチコミが入ります。クチコミが入ります。クチコミが入ります。クチコミが入ります。
        </td>
        <td width="20%">
          <button class="btn btn-primary">edit</button>
          <button class="btn btn-danger">delete</button>
        </td>
     </tr>
     <tr>
        <td width="30%">
          <a href="comment.html"><img src="img/se33.jpg" width="90%" alt="se33"/></a>
        </td>
        <td width="50%">
          <p>
            メニュー<br>
            カロリー<br>
            値段
          </p>
        </td>
        <td width="20%">
          お気に入りのボタン
        </td>
     </tr>
     <tr class="warning">
        <td width="30%">
          <a href="mypage.html"><img src="ms.jpg" width="70%" alt="user"/></a>
          </a>
        </td>
        <td width="50%">
          クチコミが入ります。クチコミが入ります。クチコミが入ります。クチコミが入ります。クチコミが入ります。
        </td>
        <td width="20%">
          <button class="btn btn-primary">edit</button>
          <button class="btn btn-danger">delete</button>
        </td>
     </tr>
     <tr>
        <td width="30%">
          <a href="comment.html"><img src="img/se34.jpg" width="90%" alt="se34"/></a>
        </td>
        <td width="50%">
          <p>
            メニュー<br>
            カロリー<br>
            値段
          </p>
        </td>
        <td width="20%">
          お気に入りのボタン
        </td>
     </tr>
     <tr class="warning">
        <td width="30%">
          <a href="mypage.html"><img src="ms.jpg" width="70%" alt="user"/></a>
          </a>
        </td>
        <td width="50%">
          クチコミが入ります。クチコミが入ります。クチコミが入ります。クチコミが入ります。クチコミが入ります。
        </td>
        <td width="20%">
          <button class="btn btn-primary">edit</button>
          <button class="btn btn-danger">delete</button>
        </td>
     </tr>

    </tbody>
  </table>
</div>

</body>

</html>
