<body>
<h1><img src="logo-color.png" width="50%" alt="Mealthy" /></h1>

<form>
<div class="container-fluid">
  <div class="row">
    <div class="form-group">
      <label for="email" class="col-md-3 control-label">email</label>
      <div class="col-md-9">
        <input type="text" class="form-control" id="email" placeholder="email">
        <!-- 
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
        -->
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="col-md-3 control-label">パスワード</label>
      <div class="col-md-9">
        <input type="text" class="form-control" id="password">
        <!-- 
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
        
        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
        -->
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12">
        <button type="submit" class="btn btn-default btn-success btn-block">登録する</button>
        <!-- 
        <%= f.submit "Create my account", class: "btn btn-primary" %>
        -->
      </div>
    </div>
  </div>
</div>
</form>
</body>
    
</html>

<!-- 
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    <% end %>
-->