<body>
<BR><BR><BR>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3" style="background-color:#EA6052;"><a href="#">低カロリー</a></div>
    <div class="col-sm-3" style="background-color:#7FB7FF;"><a href="#">低糖質</a></div>
    <div class="col-sm-3" style="background-color:#FECC27;"><a href="#">グルテンフリー</a></div>
    <div class="col-sm-3" style="background-color:#17A980;"><a href="#">ベジタリアン</a></div>
  </div>
</div>

<br>
<div class="container">
  <table class="table">
    <tbody>
     <tr>
        <td width="30%">
          <a href="comment.html"><img src="img/se32.jpg" width="90%" alt="se32"/></a>
        </td>
        <td width="50%">
          <a href="comment.html" style="color:green;text-decoration:none;">
          <p>メニュー</p>
          <p>カロリー</p>
          <p>値段</p></a>
        </td>
        <td width="20%">ボタン</td>
     </tr>
     <tr>
        <td width="30%"><img src="img/se33.jpg" width="90%" alt="se33"/></td>
        <td width="50%">
          <p>メニュー</p>
          <p>カロリー</p>
          <p>値段</p>
        </td>
        <td width="20%">ボタン</td>
     </tr>
     <tr>
        <td width="30%"><img src="img/se34.jpg" width="90%" alt="se34"/></td>
        <td width="50%">
          <p>メニュー</p>
          <p>カロリー</p>
          <p>値段</p>
        </td>
        <td width="20%">ボタン</td>
     </tr>
     <tr>
        <td width="30%"><img src="img/se35.jpg" width="90%" alt="se35"/></td>
        <td width="50%">
          <p>メニュー</p>
          <p>カロリー</p>
          <p>値段</p>
        </td>
        <td width="20%">ボタン</td>
     </tr>
     <tr>
        <td width="30%"><img src="img/se36.jpg" width="90%" alt="se36"/></td>
        <td width="50%">
          <p>メニュー</p>
          <p>カロリー</p>
          <p>値段</p>
        </td>
        <td width="20%">ボタン</td>
     </tr>
     <tr>
        <td width="30%"><img src="img/se37.jpg" width="90%" alt="se37"/></td>
        <td width="50%">
          <p>メニュー</p>
          <p>カロリー</p>
          <p>値段</p>
        </td>
        <td width="20%">ボタン</td>
     </tr>
     <tr>
        <td width="30%"><img src="img/se38.jpg" width="90%" alt="se38"/></td>
        <td width="50%">
          <p>メニュー</p>
          <p>カロリー</p>
          <p>値段</p>
        </td>
        <td width="20%">ボタン</td>
     </tr>
     <tr>
        <td width="30%"><img src="img/se39.jpg" width="90%" alt="se39"/></td>
        <td width="50%">
          <p>メニュー</p>
          <p>カロリー</p>
          <p>値段</p>
        </td>
        <td width="20%">ボタン</td>
     </tr>
     <tr>
        <td width="30%"><img src="img/se40.jpg" width="90%" alt="se40"/></td>
        <td width="50%">
          <p>メニュー</p>
          <p>カロリー</p>
          <p>値段</p>
        </td>
        <td width="20%">ボタン</td>
     </tr>
    </tbody>
  </table>
</div>

</body>

</html>
