<header class="navbar navbar-fixed-top navbar-inverse">
<div class="container">
    <%= link_to "Mealthy", root_path, id: "logo" %>
  <nav>
    <ul>
      <li><a href="reg.html">Register</a></li>
      <li><a href="search.html">Search</a></li>
      <li><a href="feed.html">Feed</a></li>
      <li><a href="mypage.html">User</a></li>
    </ul>
  </nav>
</div>
</header>